.navigation{
    display:flexbox;

    color: maroon;
    text-decoration-color: white;
    background-color: black;
    margin-left:0px;
    margin-right: 0px;

};

.logonp{
    size: 30%;
    height: 30%;
}
